.wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

.main-content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

.gap {
    gap: 25px;
}