<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <ng-container>
        <div class="navbar-brand">
            <a class="navbar-item" [routerLink]="['/']">
                <img src="assets/logo-long-no-outline.png">
            </a>
    
            <a role="button" class="navbar-burger" data-target="navMenuBtn">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>        
    </ng-container>

    <div id="navMenuBtn" class="navbar-menu">        
    </div>
</nav>