@import '../../../styles.scss';

$header-height: 52px;

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    height: calc(100% - $header-height);
}

.content-wrapper {
    width: 100%;
    overflow-y: scroll;
}

@media only screen and (max-width: $size-lg) {
    .menu-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .content-wrapper {
    }
}

@media only screen and (min-width: $size-lg) {
    .menu-wrapper {
        display: inline-block !important;
        width: 20%;
        height: 100%;
    }

    .content-wrapper {
        // width: 100%;        
        overflow-y: auto;
        padding-left: 15px;
        padding-right: 15px;    
    }
}
