<h1 class="title is-1">Jobs</h1>

<table class="table is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Job ID</th>
      <th>Job</th>
      <th>Status</th>
      <th>Started Date</th>
      <th>Completed Date</th>
      <th>Failed Reason</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let job of (jobs$ | async)">
      <td>{{job.id}}</td>
      <td>
        <ng-container *ngIf="transcodeData(job) as data">
          <span>
            {{data.versionName | mediaVersionName}}
          </span>
          <a [routerLink]="['/media', data.mediaId]">
            {{data.mediaName}}
          </a>
        </ng-container>
        <ng-container *ngIf="scanLibraryFilesData(job) as data">
          Scan Library Files
          <a [routerLink]="['/library', data.libraryId]">
            {{data.libraryName}}
          </a>          
        </ng-container>
      </td>
      <td>
        <span [class]="job.status | statusTag">
          {{job.status}}
        </span>
      </td>
      <td>
        {{job.startedDate | date: 'short'}}
      </td>
      <td>
        {{job.completedDate | date: 'short'}}
      </td>
      <td width="550px">
        {{job.failedReason}}
      </td>
      <td>
        <button class="button is-warning" title="Cancel job" *ngIf="job.status !== 'completed' && job.status !== 'active'" (click)="cancelJob(job.id)">
          <i class="bi bi-x-circle-fill"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>